body{
    background-image: url("../img/bodyBckgrnd.jpg");
    background-position: center center;
    background-attachment: fixed;
    margin: 0px;
    padding: 0px;
}

ul {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
    padding:0px;
}

li {
    display:flex;
    align-items: center;
    justify-content: center;
    font-size:1.65rem;
    font-weight:1200;
    font-family: "Amatic Sc", cursive;
    margin-left: 5px;
    margin-right: 5px;
}

a{
color: blue !important;
text-decoration: none;
}

a.active {
    color: darkblue !important;
    text-decoration: underline !important;
    font-weight: 800;
}

a.active:hover{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

section {
    margin-bottom: 2rem;
}

.imgCol{
    display: flex;
    align-items: center;
    justify-content: center;
}

img{
    border: 1px solid black;
    border-radius: 5px;
}

#lIn1, #lIn2{
    border:none !important;
    padding-bottom:0.3rem;
}

.row{
    width:100%;
    align-items: center;
}


.hMainCol {
    font-family: "Amatic Sc", cursive;
    font-weight: 800;
    color: rgb(0, 0, 255);
}

.hBannerCol{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: white;
}

h1.hMainCol{
    font-size:2.5rem;
}

h2.hMainCol{
    font-size:2rem;
}


h1.hBannerCol{
    font-size: 3rem;
    color: blue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h2.hBannerCol{
    font-size: 2.75rem;
    color: blue;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

h3.hBannerCol{
    background-color: rgba(0,0,255,0.6);
    font-size: 2.0rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    border-radius: 5px;
    border: 1px solid white;
}

hr {
    border-bottom: 2px solid blue;
}

#mainRow{
    justify-content: center;
    margin:0px;
    padding:0px;
}

#mainCol{
    width:100%;
    justify-content: center;
    margin:0px;
    padding: 0px;
}

.banner{
  height: 100vh;
  width: 30%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}
 
.contentMain{
    width:60%;
    margin-left:35%;
    margin-right:5%;
}

#bannerRow{
    width: 100%;
    height:100%;
    margin:0px;
    padding:0px;
}

#bannerImageCol{
    height:100%;
    width:100%;
    background-image: url("../img/bannerBckgrnd.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 4px 40px 0 rgba(0,0,255,1);
    margin:0px;
    padding:0px;
}


#bannerHeading{
    margin-left:auto;
    margin-right: auto;
    margin-top:5rem;
    background-color: rgba(210, 210, 210, 0.8);
    border-top:1px solid blue;
    /*border-bottom: 1px solid white;*/
}

#bannerHeadingCol{
    display:block;
    align-items: center;
    justify-content: center;
}

#bannerMenuRow{
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    background-color: rgba(210,210,210, 0.8);
    /*border-top:1px solid white;*/
    border-bottom: 1px solid blue;
    /*margin-top: 1rem;*/
}

#bannerMenuCol{
    display:block;
    justify-content: center;
}

#bannerOtherCol{
    width:100%;
    display: flex;
    justify-content: center;
    padding:0px;
}

#contentMainRow {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:5rem;
}

#contactImage{
    display: flex;
    justify-content: center;
}

#vinnie{
    width:100%; 
    height: auto;
    object-position: center center;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid blue;
}

#contactDetails{
    display:flex;
    align-items: center;
    height:100%;
}

#contactDetails>div>div>h4{
    font-family:'Oswald', sans-serif;
    font-size: 1.5rem;
}

#contactDetails a{
    font-family:'Oswald', sans-serif;
    font-size: 1.5rem;
    color: blue !important;
    text-decoration: underline;
}

#contactRow{
    display: flex;
    justify-content: center;
    align-items: center;
    height:95vh;
}

.sectionHead{
    display:block;
    justify-content: center;
    margin:0px;
}

.sectionCont{
    display: block;
    justify-content: center;
    margin:0px;
}

.secPortfolioCol{
    display:block;
}

ul.secPortfolio{
    display: block;
}

.secPortfolioCol h2 {
    display:block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: blue;
}

.secPortfolioCol h3  {
    display:block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: blue;
}

.secPortfolioCol h4{
    display: inline;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:darkblue;
    margin-right: 0.5rem;
}

.secPortfolioCol h5{
    display: flex;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color:darkblue;
}

.secPortfolioCol a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.2rem;
    text-decoration: underline;
}


.secPortfolio span{
    align-items:baseline;
}

span.githubSpan{
    display: flex;
    align-items:center;
}

#secContEducation>ul, #secContEducation>ul>li  {
    display:block;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#secContEducation>ul>li>div>div>h3, #secContEducation>ul>li>h4{
    color: blue;
}

a.sectionCont{
    color: blue!important;
}

p{
    font-family: 'Oswald', sans-serif;
    font-size:1.1rem;
}

#otherCourseInfo{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: blue;
}

.siteCertImg{
    width:300px;
    height:auto;
    object-fit:fill;
    object-position: center center;
    margin:1rem;
}

/* phone portrait mode */
@media screen and (min-width:280px) and (max-width:480px) and (max-height:855px) and (orientation:portrait) {
    /* need to change bannerLayerRow height to some REM 
       need to change fonts h1 and h2 to smaller fonts
       need to change li a fonts to smaller fonts
       need to change ul display to block */
       .banner{
        height: 29vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
      }
      .contentMain{
          margin-left:5%;
          margin-right:5%;
          margin-top:29vh;
          width:90%;
      }
      .nickName, .hRule{
           display: none;
       }
        #bannerHeading{ 
        margin-top: 2rem;
        }
        #contentMainRow{ 
            margin-top: 17rem;
        }
        h1.hBannerCol{
            font-size:1.8rem;
        }
        h2.hBannerCol{
            font-size: 1.6rem;
        }
        h1.hMainCol{
            font-size:1.8rem;
        }
        h2.hMainCol{
            font-size:1.6rem;
        }
        li{
            font-size:1.3rem;
        }
        p{
            font-size:1rem;
        }
       ul{
           display:block;
       }
       h3{
           font-size:1.4rem;
       }
       h4{
           font-size:1.2rem;
       }
       a {
           font-size:1.2rem;
       }
       #contactDetails>div>div>h4, #contactDetails>div>div>h4>span>a {
        font-size:1.2rem;
       }
       #bannerHeading, #bannerMenuRow {
           background-color: rgba(210,210,210,0.8);
       }
       #vinnie{
        margin-top:2rem;
        width:75%;
       } 
       #contactRow{
        height: 50vh;
    }
}

@media screen and (min-width:280px) and (max-width:480px) and (max-height:740px) and (orientation:portrait) {
#bannerHeading{ 
    margin-top: 1.5rem;
    }
}


@media screen and (min-width:280px) and (max-width:480px) and (max-height:680px) and (orientation:portrait) {
#bannerHeading{ 
    margin-top: 0.8rem;
    }
}

@media screen and (min-width:280px) and (max-width:320px) and (max-height:570px) and (orientation:portrait){
    #bannerHeading{ 
        margin-top: 0.3rem;
        }
    #contactRow{
        height: 90vh;
    }
    .siteCertImg{
        width:220px;
    }
}


/* phone landscape mode */
/* need to change bannerLayerRow height to some REM 
       need to change fonts h1 and h2 to smaller fonts
       need to change li a fonts to smaller fonts */
@media screen and (min-width: 568px) and (max-width:896px) and (max-height: 540px) and (orientation:landscape) {

    #bannerHeading, #contentMainRow{ 
    margin-top: 2rem;
    }
    h1.hBannerCol{
        font-size:1.8rem;
    }
    h2.hBannerCol{
        font-size: 1.6rem;
    }
    h1.hMainCol{
        font-size:1.8rem;
    }
    h2.hMainCol{
        font-size:1.6rem;
    }
    li{
        font-size:1.1rem;
    }
    p{
        font-size:1rem;
    }
    ul{
        display:block;
    }

    #vinnie{
        width:65%;
       } 

    #contactRow{
        height: 120vh;
    }
    h3{
        font-size:1.4rem;
    }
    h4{
        font-size:1.2rem;
    }
    a {
        font-size:1.2rem;
    }
    #contactDetails>div>div>h4, #contactDetails>div>div>h4>span>a {
     font-size:1.2rem;
    }
    #contactRow{
        height: 110vh;
    }
    .siteCertImg{
        width:220px;
    }

}
/* tablet portrait mode  change list display to block*/
@media screen and (min-width:600px) and (max-width:800px) and (orientation:portrait) {
    li{
        font-size:1.3rem;
    }
    ul{
        display:block;
    }
    .siteCertImg{
        width:200px;
    }
}

/* tablet landcaspe mode  change list display to block*/
@media (min-width:960px) and (max-width:1280px) and (orientation:landscape) {
    li{
        font-size:1.3rem;
    }
    ul{
        display:block;
    }
    .siteCertImg{
        width:200px;
    }
    #contactRow{
        height: 85vh;
    }
}
/* ipad pro portrait mode  change list display to block*/
@media screen and (min-width:1024px)  and (min-height:1366px) and (orientation:portrait) {
    li{
        font-size:1.3rem;
    }
    ul{
        display:block;
    }
}
/* ipad pro landscape mode - nothing to be done*/
@media screen and (min-width:1366px) and (max-width:1366px) and (min-height:1024px) and (max-height:11024px) and (orientation:landscape) {
}
/* surface duo portrait mode - try to cover in phones portrait itself - done*/
@media screen and (min-width:540px) and (max-height:720px) and (orientation:portrait) {
    .banner{
        height: 32vh;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
      }
       
      .contentMain{
          margin-top:32vh;
          width:100%;
      }

    .nickName, .hRule{
        display: none;
    }
     #bannerHeading{ 
     margin-top: 2rem;
     }
     #contentMainRow{ 
         margin-top: 17rem;
     }
     h1.hBannerCol{
         font-size:1.8rem;
     }
     h2.hBannerCol{
         font-size: 1.6rem;
     }
     h1.hMainCol{
         font-size:1.8rem;
     }
     h2.hMainCol{
         font-size:1.6rem;
     }
     li{
         font-size:1.3rem;
     }
     p{
         font-size:1rem;
     }
    ul{
        display:block;
    }
    #bannerHeading, #bannerMenuRow {
        background-color: rgba(5,140,250,0.8);
    }

}
/* surface duo landscape mode -done*/
@media screen and (min-width:720px) and (max-height:720px) and (min-height:540px) and (max-height:540px) and (orientation:landscape) {
}
/* galaxy fold - portrait try to cover in phones portrait itself - done*/
@media screen and (min-width:280px) and (max-width:319.98px) and (min-height:653px) and (orientation:portrait) {
}
/* galaxy fold - landscape try to cover in phones landscape - done*/
@media screen and (min-width:653px) and (max-width:653px) and (min-height:280px) and (max-height:280px) and (orientation:landscape) {
}


